<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="/static/manifest.json">
    <title>Dashboard</title>
</head>
<body>

<div>
    <a href="/">🏠 Home</a> |
    <a href="/scan">📷 Scan</a> |
    <a href="/members">👥 Members</a> |
    <a href="/dashboard">📊 Dashboard</a> |
    <a href="/logout">🚪 Logout</a>
    <a href="/logs">📜 Logs</a>
</div>
<hr>

<h1>📊 Dashboard</h1>

<h2>💰 Revenue Today: {{ revenue }} THB</h2>
<h2>🧾 Total Transactions: {{ total_tx }}</h2>
<h2>👥 Active Members: {{ active_members }}</h2>

</body>
</html>